html, body {
    background-color: #DCDCDC;
<!--background: center no-repeat url('https://sun9-40.userapi.com/impg/kvfgwKAwnZ8YqAsvINnxt_m7caGzNZpZsCpoug/LPEDy7KALHc.jpg?size=900x741&quality=95&sign=0253fe703d2df9304c26d71ca0d60b74&type=album');-->
<!--width: 2000px;-->
<!--height: 3300px;-->
}

* {
    font-family: system-ui;
}

a {
    font-weight: bold;
    color: #008B8B;
    text-decoration: none;
    margin-left: 35px;
    font-size: 24px;
}
.name {
    margin: 0;
    font-size: 45px;
    font-style: italic;
    margin: 0;
    margin-right: 40px:

}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 80px;
}
.works {
    font-size: 40px;
    font-family: Impact;
    margin: 0;
    margin-top: 30px;
    margin-left: 800px;
    color: #4682B4;
}
.img_product {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.product {
    border: 5px #B22222 solid;
    display: flex;
    min-height: 150px;
    margin-top: 12px;
    padding: 10px;
    width: 47.5%;
    margin-left: 10px;
    border-radius: 20px;
    background-color: white;
}
.productlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button {
    margin-left: auto;
}
.name_product {
    width: 200px;
    font-size: 16px;
    color: #696969;
    margin-left: 10px;
    text-transform: uppercase;
}
.info {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
}

button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #DCDCDC;
}
.price {
    margin-left: auto;
    text-align: center;
}
.ProductDetails {
    padding: 12px;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    width: 55%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.ProductDetails_img {
    width: 50%;
    height: 50%;
}
.productprice {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.huny {
    margin-right: 20px;
}
.filter {
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    margin-right: 10px;
    border-radius: 8px;
    width: 100%;
}
.productTitle {
    margin-top: 20px;
}
.productTitle * {
    font-style: normal;

}
.productDescription {
    border-radius: 20px;
    background: white;
    width: 55%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 12px;
}
.productDescription * {
    margin: 20px;
}
.error_products_found {
    margin-left: auto;
    margin-right: auto;
}
.icon_error_products_found {
    margin-left: 145px;
}
.review {
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 10px;
}

