<style>
    * {
        font-family: Arial;
    }
    a {
        font-weight: bold;
        color: green;
        margin-left: 35px;
    }
    h1 {
        font-size: 75px;
    }
    img {
        width: 150px;
        height: 150px;
    }

    .product {
        border: 5px brown solid;
        display: flex;
        height: 150px;
        margin-top: 12px;

    }
    .name_product {
        width: 200px;
        font-size: 15px;
        color: Grey;
        margin-left: 10px
    }
    .info {
        margin-top: 40px;
        margin-left: 10px
    }
    p {
        width: 400px;
    }

    .buy {
        margin-left: auto;
    }
</style>


<h1>Silinso</h1>


<img src="https://sun9-40.userapi.com/impg/kvfgwKAwnZ8YqAsvINnxt_m7caGzNZpZsCpoug/LPEDy7KALHc.jpg?size=900x741&quality=95&sign=0253fe703d2df9304c26d71ca0d60b74&type=album"/>

<a href='/'>Главная<a>
<a href='/'>Примеры работ<a>
<a href='/'>Связь с мастером<a>
<a href="/">Заказ</a>




<div class="product">

    <img src="https://avatars.mds.yandex.net/i?id=5739d6ae5534503121b6134f99b3bf178c72f566-10804261-images-thumbs&n=13"/>
    <div>
        <div class="name_product">
            <h2>Картхолдер</h2>
        </div>

        <div class="info">
            <p>Карточник из натуральной кожи наивысшего качества</p>
        </div>

    </div>
    <div class="buy">
        <button>Дополнительная информация</button>
    </div>


</div>

<div class="product">

    <img src="https://avatars.mds.yandex.net/i?id=8fa4cd3606300606e8fea3481942515f9f2072d5-11950916-images-thumbs&n=13"/>

    <div>
        <div class="name_product">
            <h2>Ножны</h2>
        </div>

        <div class="info">
            <p>Ножны ручной работы из натуральной кожи</p>
        </div>

    </div>
    <div class="buy">
        <button>Дополнительная информация</button>
    </div>
</div>