{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <!--Названия-->
    <div class="name">
        <h1>Silinso</h1>
    </div>

    <!--Ссылки-->

    <a href='/'>Главная<a>
    <a href='/'>Связь с мастером<a>
    <a href="/">Заказать</a>
</div>


<!--Продукты-->
<div class="works">
    <h3>Каталог</h3>
</div>

<div class="filter">
    <input />
    <button>Поиск</button>
</div>





<div class="productlist">
{% for product in products %}
<div class="product">

        <img class="img_product" src="{{ product.image_url }}"/>




    <div>
        <div class="name_product">
            <h2>{{ product.name }}</h2>
        </div>

        <div class="info">
            <p>{{ product.description }}</p>
        </div>
    </div>

    <div class="price">
        <h3>{{ product.price }} ₽</h3>
        <button>Информация</button>
    </div>

</div>
{% endfor %}


</div>