{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <!--Названия-->
    <div class="name">
        <h1>Silinso</h1>
    </div>

    <!--Ссылки-->

    <a href='/'>Главная<a>
    <a href='/'>Связь с мастером<a>
    <a href="/">Создать своё изделие</a>
</div>

<!--Профиль-->
<div class="profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</div>

<div class="ProductDetails">
       <img class="ProductDetails_img" src="{{ product.image_url }}"/>



    <div class="productTitle">
        <h2>{{ product.name }}</h2>

        <div class="productprice">
            <div class="huny">
                <h2>{{ product.price }} ₽</h2>
            </div>

            <button>Buy</button>

        </div>
    </div>


</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>

</div>

<div class="productDescription">
    <h2>Отзывы:</h2>

    {% for review in reviewы %}
    <div class="review">
        <h3>{{ review.author }}</h3>
        <h3>Оценка:
            {% if review.rating == 1 %}
            <span>⭐</span>
            {% elif review.rating == 2 %}
            <span>⭐⭐</span>
            {% elif review.rating == 3 %}
            <span>⭐⭐⭐</span>
            {% elif review.rating == 4 %}
            <span>⭐⭐⭐⭐</span>
            {% elif review.rating == 5 %}
            <span>⭐⭐⭐⭐⭐</span>
            {% endif %}
        </h3>
        <h3>Срок использования: {{ review.usage_duration }} месяцев</h3>
        <p>{{ review.text }}</p>
    </div>
    {% endfor %}

    <form class="createReview" method="post">
        {% csrf_token %}
        <label for="author">Автор:</label>
        <input name="author">
        <label for="rating">Оценка:</label>
        <select name="rating" style="background-color: #EBEBEB">
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>

        <label for="duration">Срок использования:</label>
        <input name="duration">
        <label for="review">Текст отзыва:</label>
        <textarea name="review"></textarea>
        <button>Опубликовать</button>
    </form>


</div>