{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <!--Названия-->
    <div class="name">
        <h1>Silinso</h1>
    </div>

    <!--Ссылки-->

    <a href='/'>Главная<a>
    <a href='/'>Связь с мастером<a>
    <a href="/">Заказать</a>
</div>

<div class="ProductDetails">
       <img class="ProductDetails_img" src="{{ product.image_url }}"/>



    <div class="productTitle">
        <h2>{{ product.name }}</h2>

        <div class="productprice">
            <div class="huny">
                <h2>{{ product.price }} ₽</h2>
            </div>

            <button>Buy</button>

        </div>
    </div>


</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>

</div>

<div class="productDescription">
    <h2>Отзывы:</h2>
    <div class="review">
        <h3>Автор</h3>
        <h3>Оценка: <span style="color: green">***</span></h3>
        <h3>Время после покупки: 12 месяцев</h3>
        <p>Текст отзыва</p>
    </div>

    <form>
        <input>


    </form>


</div>