{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <!--Названия-->
    <div class="name">
        <h1>Silinso</h1>
    </div>

    <!--Ссылки-->


</div>

<!--Профиль-->
<div class="profile">
    <button1><img src = "https://i.postimg.cc/Mp5qrQG0/image.png"/><button1>
    <button1>Профиль<button1>
</div>

<div class="paymentCard">
    <h1 style="color: blue; font-size: 35px;">Поздравляем с покупкой!</h1>
    <h2 style="font-size: 18px;">Товар будет доставлен по указанному адресу</h2>
</div>

<script>
    setTimeout(() => {
    document.location = '/';
    }, 5000);
</script>